/* HEADER */

.header {
  width: 100%;
  height: 150px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 30px 5px;
}

.headerLogo {
  height: 50px;
}

/* HEADER END */

/* FOOTER */

.footer {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
}

/* FOOTER END */

/* CONTAINERS */

.mainContainer {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  top: 0;
  padding: 150px 5% 60px;
}

.formContainer {
  margin-top: 50px;
  padding: 50px 20px 20px;
  border-radius: 5px;
}

.container {
  width: 100%;
  display: flex;
}

.containerCenter {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerLeft {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* CONTAINERS END */

/* FORMS */

.form {
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  display: flex;
  border-radius: 5px;
}

.label {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
}

.input {
  width: 100px;
  padding: 3px 7px;
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
  color: #202020;
  border: none;
  border-radius: 5px;
}

.select {
  width: 100px;
  padding: 3px 7px;
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
  color: #202020;
  border: none;
  border-radius: 5px;
}

.button {
  width: 100px;
  padding: 3px 7px;
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
  color: #202020;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* FORMS END */
